  .Deck {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .Deck form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .Deck h1 {
    font-size: 32px;
    text-align: center;
  }
  
  .cards {
    display: grid;
    width: 600px;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    color: #000000;
  }
  
  .cards li {
    padding-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px;
    -webkit-box-shadow: 5px 5px 15px -4px #000000; 
    box-shadow: 5px 5px 15px -4px #000000;
  }
  
  .cards li button {
    position: absolute;
    font-size: 10px;
    top: 5px;
    right: 5px;
  }
  
  /* .decks li:hover {
    background: #eee;
    cursor: pointer;
  } */